*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --koulen: 'Koulen', cursive;
  --jost: 'Jost', sans-serif;
}

body {
    background-color: #202020;
    width: 100vw;
    height: 100vh;
}


.header{
    width: 100%;
    height: 7%;
    background-color: #ac9e61;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-family: var(--koulen);
    color: #f8f8f8;
    font-weight: 100;
}

.header a{
    font-family: var(--koulen);
    color: #f8f8f8;
    font-weight: 100;
    text-decoration: none;
    transition: .2s;
}

.header a:hover{
    color: #202020;
}


/* contenedor */
.all-container{
    width: 100%;
    height: 93%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* formulario */
.form{
    width: 30%;
    background-color: #1D1D1D;
    margin: 60px 20px;
    border: #f8f8f8 solid thin;
    border-radius: 10px;
    color: #f8f8f8;
    padding: 20px;
}

#titleInput{
    width: 100%;
    background-color: #1D1D1D;
    font-family: var(--koulen);
    font-size: 32px;
    color: #f8f8f8;
    border: none;
    outline: none;
}

#contentInput{
    width: 100%;
    height: 89%;
    font-size: 20px;
    background-color: #1D1D1D;
    border: none;
    font-family: var(--jost);
    color: #f8f8f8;
    outline: none;
    resize:none

}

#submit {
    width: 100%;
    font-family: var(--jost);
    border: none;
    color: #f8f8f8;
    background-color: #1D1D1D;
    font-weight: 500;
    font-size: 18px;
    text-align: end;
}


/* notas */
.notes-container {
    width: 70%;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    margin: 60px;
    gap: 20px;
}

.note{
    background-color: #1D1D1D;
    width: 300px;
    height: 300px;
    border: #f8f8f8 solid thin;
    border-radius: 10px;
    color: #f8f8f8;
    padding: 10px;
}

.note h3 {
    font-family: var(--koulen);
    text-align: center;
    font-weight: 100;
}

.note-content {
    font-family: var(--jost);
    width: 100%;
    height: 80%;
    overflow: hidden;
    text-align: justify;
}

.note-created{
    font-family: var(--jost);
    text-align: center;
    font-size: 12px;
    color: #f8f8f897;
}


@media (max-width: 700px) {
    .all-container{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 350px;
        height: 350px;
        margin: 0;
    }

    #titleInput{
        
    }

    #contentInput{
        height: 75%;
    }

    .notes-container{
        height: 400px;
        margin: 10px;
    }
}